<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>JSON-RPC Demo for JQuery Terminal Emulator</title>
    <meta name="author" content="Jakub Jankiewicz - jcubic&#64;onet.pl"/>
    <meta name="Description" content="Demonstration for JQuery Terminal Emulator using call automaticly JSON-RPC service (in php) with authentication."/>
    <link rel="sitemap" type="application/xml" title="Sitemap" href=""/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <script type="text/javascript" src="{{url_for('static', filename='files/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='files/jquery.mousewheel-min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='files/jquery.terminal-min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='files/terminal.js')}}"></script>
    <link href="{{url_for('static', filename='files/jquery.terminal.css')}}" rel="stylesheet"/>
</head>
<body>
    <h1>Relational - Terminal v0.2</h1>
    <div id="terminal"></div>
</body>
</html>
